{% extends 'base.html' %}
{% block title %}Dashboard - Top Github{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form nav navbar-nav">
            <div class="form-group btn-group" id="days-control">
                <button type="button" class="btn btn-default" data-days="365">1 year</button>
                <button type="button" class="btn btn-default" data-days="182">6 months</button>
                <button type="button" class="btn btn-default" data-days="90">3 months</button>
                <button type="button" class="btn btn-default" data-days="30">30 days</button>
                <button type="button" class="btn btn-default active" data-days="7">Las 7 days</button>
            </div>
        </form>
        <h3 class="navbar-text" id="date-info"></h3>
      </div><!--/.navbar-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="clearfix">...</div>
<div class="container">
    <div class="page-header">
        <h1>Top Most Popular GitHub repositories </h1>
        <h4 id="head_date">Date</h4>
    </div>
    <div class="row">
    {% for chart_item in chart_list %}
    <div id="{{chart_item['id']}}" class="chart col-md-4"></div>
    {% endfor %}
    </div>
    <h1 class="page-header">Top Contributors</h1>
    <ul id="top-contributors" class="media-list">

    </ul>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    var hchart_modified = null;
    var chart_list = {{chart_list|safe}};
    var contributors_endpoint = "{{contributors_endpoint|safe}}";
    var start_date = {{start_date|safe}};
    var end_date = {{end_date|safe}};
    var end_date = {{end_date|safe}};
    var date1 = new Date(start_date * 1000).toISOString().slice(0,10);
    var date2 = new Date(end_date * 1000).toISOString().slice(0,10);
    var chat_options_default = {
            chart: {type:'bar'},
            title: '',
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {type: 'category'},
            yAxis: {title:{text:'Modifications'}},
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:,.0f}'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:,.0f}</b> of total<br/>'
            },
            series: [],
            drilldown: {series: []},
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        },
                        // yAxis: {
                        //     labels: {
                        //         align: 'left',
                        //         x: 0,
                        //         y: 0
                        //     },
                        //     title: {
                        //         text: null
                        //     }
                        // },
                        // subtitle: {
                        //     text: null
                        // },
                        credits: {
                            enabled: false
                        }
                    }
                }]
            }
        };
$(document).ready(function() {
    updateCharts();
    $("#days-control button").each( (i,btn) => {
        //var days = btn.data('days');
        //console.log(days);
        var jqBtn = $(btn);
        var days = jqBtn.data('days');
        btn.addEventListener('click', ()=>{
            $("#days-control button").removeClass('active');
            jqBtn.addClass('active');
            start_date = end_date - (days * 60_000);
            date1 = new Date(start_date * 1000).toISOString().slice(0,10);
            updateCharts();
        });

    });
});
function updateCharts(){
    $("#date-info, #head_date").text("From: "+date1 + " to " + date2);
    chart_list.forEach(chartItem => {
        var options = $.extend({}, chat_options_default, chartItem['chart_options']);
        chartItem['chart'] = new Highcharts.Chart(chartItem['id'],options);
        fetch_series_data(chartItem['chart'], chartItem['enpoint'], start_date, end_date);
    });
    fetch_top_contributors($("#top-contributors"), contributors_endpoint, start_date, end_date);
}

function fetch_series_data(chart, baseApiUrl, start, end){
    fetch(baseApiUrl+'/'+start+'/'+end).then(response => {
        return response.json()
    }).then(data => {
        data.series.forEach( (serie, i) => {
            if(chart.series.length <= i){
                chart.addSeries(serie);
            }else{
                chart.series[i].update(serie);
            }
        });
    });
}
function fetch_top_contributors(list_jq,baseApiUrl, start, end){
    fetch(baseApiUrl+'/'+start+'/'+end).then(response => {
        return response.json()
    }).then(data => {
        list_jq.fadeOut().empty();
        data.contributors.forEach( (contributor, i) => {
            append_contributor(list_jq, contributor, i);
        });
        list_jq.fadeIn();
    });
}
function append_contributor(list_jq, contributor, i){
    var li = $("<li/>").addClass('media').appendTo(list_jq);
    li.append(
        $("<div/>").addClass('media-left')
        .append(
            $("<a href='#'/>")
            .append(
                $("<img/>").addClass('media-object img-circle').attr({"src": contributor.url, "alt":contributor.name})
            )
        )
        .append(
            $("<h5>#"+(i+1)+" "+contributor.name+"</h5>").addClass('media-heading text-center')
        )
    ).append(
        $("<div/>").addClass('media-body')
        .append(
            $("<ul/>").addClass('list-group')
            .append(
                $("<li/>").addClass('list-group-item ')
                .append(
                    $("<span>"+contributor.contributions_str+"</span>").addClass('badge font-size-h1')
                ).append("Contributions")
            )
            .append(
                $("<li/>").addClass('list-group-item')
                .append(
                    $("<span>"+contributor.repos_str+"</span>").addClass('badge')
                ).append("Projects")
            )
            .append(
                $("<li/>").addClass('list-group-item')
                .append(
                    $("<span>"+contributor.files_str+"</span>").addClass('badge')
                ).append("Files")
            )
        )
    );
}
</script>
{% endblock %}