.media img.img-circle {
    max-width: 100px;
}
.vertical-center {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
}
.vertical-top {
    display: inline-block;
    vertical-align: top !important;
    float: none;
}
.vertical-bottom {
    display: inline-block;
    vertical-align: bottom  !important;
    float: none;
}